<h2 class= "home_text">Edit Tweet</h2>

<%= form_with(model: @tweet) do |form| %>
  <div class="box_father">
    <div class="box_center">
      <%= form.text_area :body, placeholder: "Remember to thing before write...", class: "new_tweet_box" %>
    </div>

    <div class="box_tweet">
      <div>
        <%= form.submit :Update, class: "button_tweet"  %>
      </div>
    </div>
  </div>
<% end %>
